/* table */
td {
    padding: 0.5vh 0.5vw;
    font-size: 1.2rem;
}

/* data */
/* info */
img.photo-sticker {
    height: 25vh;
    width: 25vh;
    padding-bottom: 15vh;

    position: absolute;
    top: 25vh;
    z-index: 1;
    object-fit: cover;
}

.my-name {
    padding: 1vh;
    display: flex;
    font-weight: bold;
}

.my-name .chinese-name {
    font-size: 3rem;
    margin-right: 1vw;
}

.my-name .english-name {
    font-size: 1.5rem;
    padding-top: 2rem;
    vertical-align: middle;
}

.info-title {
    display: flex;
    align-items: end;
}


.description {
    padding: 5vh 1vw;
}

.skill-left,
.skill-right {
    width: 30vw;
}

/* icon */
.icon-title {
    padding: 2vh 1vw;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#github-icon,
#email-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1vw;
}

.date-range {
    margin: 0;
    padding: 0;
    color: rgb(170, 170, 170);
}

.education,
.experience,
.certification,
.skill,
.autobiography {
    margin-left: 3vw;
}

.skill h3 {
    margin: 0;
}

.skill ul {
    margin-top: 0.5vh;
}

@media(max-width: 920px) {}

@media(max-width: 768px) {
    img.photo-sticker {
        padding: 0;
        position: relative;
        top: 0;
        left: calc((50%) - 12.5vh);
    }

    .photo-sticker-td {
        display: none;
    }

    .my-name {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .info-title {
        display: block;
    }

    .skill-left,
    .skill-right {
        width: 50vw;
    }
}

@media(max-width: 540px) {
    .my-name {
        display: inline;
        text-align: center;
    }   
}