/* accordion */
.accordion {
    background-color: #EAE0D5;
    cursor: pointer;
    margin-top: 1.5vh;
    padding: 0.7vh 3vw;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.4s;
}

.active-accordion,
.accordion:hover {
    background-color: #C6AC8F;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* data */
.project {
    display: flex;
}

.project-img {
    height: 18vh;
    width: 18vh;
    margin-right: 2vw;

    object-fit: cover;
}

#spiider-p-img {
    width: 18vh;
    position: relative;
    top: 2vh;
}