/* accordion */
.accordion {
    background-color: #EAE0D5;
    cursor: pointer;
    margin-top: 1.5vh;
    padding: 0.7vh 3vw;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.4s;
}

.active-accordion,
.accordion:hover {
    background-color: #C6AC8F;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-left: 1vw;
}

/* data */
.project {
    display: flex;
}

.project-img {
    height: 18vh;
    width: 18vh;
    margin-right: 2vw;
}

.group-rei-phone-img {
    height: 20vh;
}

.my-day-phone-img,
.fun-eat-phone-img,
.hot-source-phone-img {
    height: 45vh;
    margin-right: 1vw;
    margin-top: 1vh;
}

#spiider-p-img {
    width: 18vh;
    position: relative;
    top: 2vh;
}

#group-rei-img {
    width: 18vh;
    position: relative;
    top: 5vh;
}

#my-day-img {
    width: 18vh;
    position: relative;
    top: 5vh;
}

#fun-eat-img,
#birc-img {
    height: 18vh;
    padding: 0 6.5vh;
    position: relative;
}

#nasa-img {
    width: 16vh;
    padding: 1vh;
    position: relative;
    top: 6vh;
}

#guitar-img {
    width: 16vh;
    padding: 1vh;
    position: relative;
    top: 3vh;
}